// set global box styles
html {
    box-sizing: border-box;
    /* font-size 1rem = 10px */
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

a,
button {
    color: inherit;
    transition: .3s;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    display: block;
}

input {
    vertical-align: middle;
}

// micro clearfix hack
.u-clearfix:before,
.u-clearfix:after {
    content: " ";
    display: table;
}

.u-clearfix:after {
    clear: both;
}

.u-clearfix {
    *zoom: 1;
}

.u-contained {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}
